

@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Philosopher", sans-serif !important;
  font-weight: 400;
 

}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.container2{
    max-width: 1330px;
}

@media (min-width:576px) {
  .container {
      max-width: 540px
  }
}

@media (min-width:768px) {
  .container {
      max-width: 720px
  }
}

@media (min-width:992px) {
  .container {
      max-width: 960px
  }
}

@media (min-width:1200px) {
  .container {
      max-width: 1200px
  }
}
img {
  max-width: 100%;
  height: auto; }




/*Topbar Section*/
.topbar {
  background-color: #0F0F41;
  color: #ffffff;
  padding: 8px 0 10px 0; }
.topbar a {
    color: #fff; }
.topbar a:hover {
      color: #FF9822; }

.topbar .contact-info li {
      display: inline-block;
      list-style: none;
      margin-right: 10px; }
.topbar .contact-info i {
      color: #FF9822;}
  .topbar.black {
    background-color: #333; }

ul.social-icons {
    float: right;
  list-style: none;
  padding: 0;
  margin: -5px;
  display: inline-block; }
  ul.social-icons li {
    display: inline-block;
    margin: 5px 12px; }



/*header area styles*/




.navbar {
    padding: 0;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    border-bottom: 1px solid #ddd;
    background: #000338;
    transition: .5s;
}



.menu-area > ul {
    margin: 11px 0;
    padding: 0;
}

.menu-area > ul > li {
    list-style: none;
    display: inline-block;
}

.menu-area ul li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.dropdown-menu1 ul li a .fa {
    margin-right: 10px;
}

.menu-area > ul > li > a {
  text-decoration: none;
  color: #fff;
  padding: 0px 15px;
  display: block;
  transition: .5s;
  text-transform: capitalize;
  font-size: 16px;
}

.menu-area ul li a:hover {
    color: #FD9722;
}

.logo-image {
    margin-top: 15px;
}

.menu-active {
    color: brown !important;
}

.dropdown-menu1 {
    position: absolute;
    background: #fff;
    width: 250px;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.4s;
    box-shadow: var(--shadow);
    border-top: var(--border);
    top:45px;
}

.dm-software {
    width: 630px;
}

.dropdown-menu1 ul {
    margin: 0;
    padding: 0;
}

.dropdown-menu1 ul li {
    list-style: none;
}

.dropdown-menu1 ul li a {
    text-decoration: none;
    color: #817e7b;
    padding: 7px 10px;
    display: block;
    padding: 10px;
    transition: .4s;
    text-transform: capitalize;
}

.dropdown-menu1 ul li a:hover {
    background: var(--bd);
    color: #FD9722;
}

.dd-btn1:hover .dropdown-menu1 {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.dropdown-menu2 {
    position: absolute;
    left: 100%;
    top: 0;
    background: #fff;
    width: 220px;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.4s;
}


.dd-btn2 {
    position: relative;
}

.dd-btn2:hover .dropdown-menu2 {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}


/*toggler css*/

.menu-icon {
    display: none;
}

.menu-icon {
    float: right;
}

.menu-icon {
    color: var(--tn);
    font-size: 30px;
    cursor: pointer;
}

/*on scrolled css*/


/*mobile menu styles*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100%;
    background: #fdfdfd;
    transition: .3s;
    z-index: 9999;
    border-right: 1px solid #ddd;
    overflow: scroll;
}

.mobile-menu-active {
    left: 0;
}

.mm-logo {
    border-bottom: 1px solid #ddd;
}

.mm-logo .logo {
    width: 130px;
    padding: 10px 15px;
}

.menu-link a {
    display: block;
    padding: 10px 15px;
    color: var(--tm);
    border-bottom: 1px solid #ddd;
    transition: .3s;
    font-family: var(--fl);
    text-decoration: none;
}

.mobile-menu a .fa {
    color: var(--tn);
}

.menu-link a .fa-plus {
    float: right;
    margin-top: 5px;


}

.menu-link a .fa-minus {
    float: right;
    margin-top: 5px;

}

.menu-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-body ul li {
    border-bottom: 1px solid #ddd;
}

.menu-body .card-body {
    padding: 0;
    background: #fafafa;
}

.menu-body ul li a {
    padding: 10px 10px;
    display: block;
    color: var(--tm);
    text-decoration: none;
    font-family: var(--fl);
}

.mm-logo {
    position: relative;
}

.mm-cross-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.mm-cross-icon .fa {
    font-size: 20px;
    color: var(--ttm);
}

.mm-ci {
    cursor: pointer;
}

/***************** *********************
         slider area styles
****************** ********************/

.showcase .carousel-item {
  height: 70vh;
}

.showcase .carousel-img-1 {
  background: url(../images/slideshow/img1.jpg);
  background-size: cover;
  background-position: center center;
}

.showcase .carousel-img-2 {
  background: url(../images/slideshow/img2.jpg);
  background-size: cover;
  background-position: center center;
}

.showcase .carousel-img-3 {
  background: url(../images/slideshow/Sail-Away.jpg);
  background-size: cover;
  background-position: center center;
}

.showcase .carousel-indicators li {
  height: 4px;
  width: 30px;
  border-radius: 5px;
  color: #E30613;
  background: rgba(182, 15, 15, 0.568);
  cursor: pointer;
}

.showcase .carousel-indicators .active {
  background: #E30613;
}

.showcase .slider-control {
  font-size: 50px;
}



.showcase .carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;

}

/* End slider area  */

.text-section h2 {
  font-size: 45px; }
.text-section h3 {
  font-size: 27px;
  line-height: 50px;
  position: relative; 
margin-top: -20px;
font-family: 'Philosopher', sans-serif;

}

.text-section p {
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    color: #737373;
    margin-bottom: 25px;
    font-family: open-sans;
}
.text-section .btn-about {
  background: #ff8339;
  padding: 12px 25px;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  box-shadow: 3px 7px 30px 0px #d2d2d2;
}
.text-section .btn-about:hover{
  background: #016AD9;
  text-decoration: none;
}

/*Header Logo and button Section*/
.button-section{
    float: right;
}
.button-section a {
    display: inline-block;
    color: #fff;
    background: #000338;
    padding: 10px 10px;
    margin-top: 90px;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.4s;
    font-family: normal;
    text-decoration: none;
}
.button-section a:hover{
    background: #fff;
    border: 2px solid #000338;
    color: #000338;
}
/*End Header Logo and buttton Section*/

/*Start rahmania-aziz-seciton*/
.rahmania-aziz-seciton{
    margin: 30px 0;
    padding: 30px 0;
}

/*Start exprience-seciton*/
.exprience-seciton {}

.exprience-content {
    background: linear-gradient(rgb(247 247 247 / 47%),rgb(247 247 247 / 47%)),url(../images/patterns/pattern-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px 24px;
    transition: 0.4s;
    min-width: 285px;
    min-height: 505px;
}
.exprience-content:hover{
    background: linear-gradient(rgba(21, 122, 21, 0.698),rgba(21, 122, 21, 0.698)),url(../images/patterns/pattern-bg.jpg);
   
    
}
.exprience-content:hover .fa{
    background:#fff; 
}.exprience-content:hover h3{
    color: #fff;
}.exprience-content:hover p{
    color: #fff;
}.exprience-content:hover a{
    color: #fff;
}

.exprience-content .fa {
    color: #2EA249;
    font-size:60px;
    /*background: #FEB82C;*/
    height: 100px;
    width: 100px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: 0.4s;
}

.exprience-content h3 {
    color: #000;
    font-size: 25px;
    margin-bottom: 18px;
    line-height: 35px;
    transition: 0.4s;
    text-transform: capitalize;
    font-weight: 600;
  
}

.exprience-content p {
    color: #000;
    line-height: 25px;
    font-size: 17px;
    transition: 0.4s;
}

.exprience-content a{
    display: inline-block;
    color: #000;
    line-height: 32px;
    font-size: 20px;
    transition: 0.4s;
    text-decoration: underline;
    
}



/*Start Course time section------------------------------------------------*/

/*----------------------------------------------------------------------- 
Start of features section
-------------------------------------------------------------------------*/
.features-section{
    margin: 50px 0;
}
.features-icon i {
    color: #000338;
	font-size: 52px;
	transition: .3s all ease-in-out;
	position: relative;
	z-index: 1;

}
.features-text-title h3 {
    font-size: 19px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.features-text-title a{
    color: #000338;
    text-decoration: none;
}
.features-icon {
	height: 120px;
	width: 120px;
	margin: 0 auto;
	line-height: 160px;
	border-radius: 100%;
	overflow: hidden;
	position: relative;
	-webkit-box-shadow: 0px 5px 30px -9px rgba(238, 9, 121,0.75);
	-moz-box-shadow: 0px 5px 30px -9px rgba(238, 9, 121,0.75);
	box-shadow: 0px 5px 30px -9px rgba(238, 9, 121,0.75);
    margin-bottom: 30px;
    padding: 30px 0px;
    text-align: center;
}
.features-icon:after,
.extra-features-section .extra-left .features-icon:after,
.extra-features-section .extra-right .features-icon:after {
	position: absolute;
	content: '';
	border-radius: 100%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	transition: .3s all ease-in-out;
	transform: scale(.5);
}
.features-icon:after,
.extra-features-section .extra-left .features-icon:after,
.extra-features-section .extra-right .features-icon:after  {
    background: #FDC800;

}
.features-text-dec {
	max-width: 350px;
	margin: 0 auto;
	overflow: hidden;
    margin-bottom: 40px;
}
.features-text-icon:hover .features-icon:after,
.extra-icon-text:hover .features-icon:after {
	opacity: 1;
	transform: scale(1);
}

.extra-icon-text {
	position: relative;
}
.feature-btn-section a {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #FDC800;
    padding: 6px 17px;
    font-size: 20px;
    color: #FDC800;
    text-transform: uppercase;
    transition: 0.4s;
}
.feature-btn-section a:hover{
    color: #fff;
    background: #FDC800;
}
/*----------------------------------------------------------------------- 
End of features section
-------------------------------------------------------------------------*/
/* Start Our Publications */
.publication-section{
   
    margin-bottom: 20px;
}
.publication-section > .section-title > h2{
    font-size: 41px;
    font-weight: 700;
    color: #000;
    padding-bottom: 20px;
}
.publication-box > .publi-img-box{
    position: relative;
    margin-bottom: 10px;
}
.publication-box > .publi-img-box > img::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0 0 0 / 70%);
}

.publication-box > .publi-img-box > .pbuli-shop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.publication-box > .publi-img-box > .pbuli-shop a {
    padding: 3px 30px;
    border: 2px solid #FDC800;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.4s ease;
}
.publication-box > .publi-img-box:hover .pbuli-shop a{
    opacity: 1;
    visibility:visible;
    transform: scale(1.2);
    background-color:  #FDC800;
    color: #fff;
   
}
.publication-box > .publication-btmcontent{text-align: center;}
.publication-box > .publication-btmcontent > a{
    font-size: 20px;
    color: #000;
}
.publication-box > .publication-btmcontent > a:hover{
    color: #FDC906;
    text-decoration: none;
}
.publication-box > .publication-btmcontent > h4{
    color: #FDC906;
}


.publication-section .owl-nav {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.publication-section .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    display: block;
    background: #FF9822 !important;
    height: 65px;
    width: 25px;
    color: #f7f7f7 !important;
    font-size: 45px !important;
    outline: 0;
    margin-top: -50px;
    
}
.publication-section .owl-nav .owl-next{
    position: absolute;
    right: 0;
    display: block;
    background: #FF9822 !important;
    height: 65px;
    width: 25px;
    color: #f7f7f7 !important;
    font-size: 45px !important;
    outline: 0;
    margin-top: -50px;
} 
.owl-theme .owl-dots .owl-dot span {
width: 10px;
height: 10px;
margin: 5px 7px;
background: #D6D6D6;
display: block;
-webkit-backface-visibility: visible;
transition: opacity .2s ease;
border-radius: 30px;
outline: 0;
border: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
background: #ffc800;
}

/* End Our Publications */



/*Beautiful Campus Section*/
.campus-section{
    margin: 20px 0;
}
/*End Beautiful Campus Section*/

/*Why to Choose Section*/
.whychoose{
    margin: 50px;
}
.img-text-section img {
    margin-bottom: 25px;
    width: 90px;
    height: 80px;
}
.choose-text h3 {
    font-size: 23px;
    text-transform: capitalize;
    color: #000338;
}
.img-text-section {
    padding: 57px 10px;
}
.img-text-section:hover{
   box-shadow: 4px 5px 20px 0px;
}.img-text-section:hover h3{
   
    color: #FF9824;
    
}.img-text-section:hover{
   
    border-bottom: 3px solid #FF9824;
}
.whychoose{}
/*End Why to Choose Section*/

/*The Pillars of Islam Section*/
.pillars-islam{
    margin: 50px 0;
    /*background:url(../images/bg/parallax-bg.png);*/
     background:linear-gradient(rgba(23, 24, 25, 0.49), rgba(23, 24, 25, 0.49)),url(../images/bg/parallax-bg.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    
}
.pillars-text-section h3{
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
    text-transform: capitalize;
}
.pillars-text-section p{
    color: #fff;
}
.col-sec{
    
    width: 20%;
    padding: 0 15px;
    margin:38px 0;
    float: left;
    
}
.roted-sec{
    height: 150px;
    width: 150px;
    border: 3px solid #0D7523;
    transform: rotate(145deg);
    position: relative;
    transition: 0.5s;
}
.pillars-sec{
     height: 150px;
    width: 150px;
    border: 3px solid #0D7523;
    background: #E0E9E4;
    position: absolute;
   margin-top: -150px;
    transition: 0.5s;
    
}
.col-sec:hover .roted-sec{
    transform: rotate(0deg);
}.col-sec:hover .pillars-sec{
    transform: rotate(145deg);
}
.pillars-dec {
    margin-top: 40px;
    margin-right: 70px;
}
.pillars-dec h4 {
    color: #fff;
    text-transform: capitalize;
    font-size: 25px;
}
.pillars-dec span{color: #0D7523;text-transform: uppercase;}
/*End The Pillars of Islam Section*/


/*Start Audio Section*/
.audiolaibary-section{
    margin: 25px 0;
    padding: 30px 0;
}
.audio-text{
    margin-bottom: 10px;
}
.audio-text h5{color: orange;}
.audio-text h2{}

.card-detles {
    background: #fff;
    box-shadow: 2px 5px 12px 0px;
}
.cardimg-section{
     background:rgba(49, 48, 47, 0.58);
    position: relative;
}
.cardimg-section img{
   position: relative;
   width: 100%;
   
}

.play-icon{
  position: absolute;
    left: 50%;
	top: 42%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    font-size: 45px;
    transition: 0.3s;
    color: #fff;
    font-weight: normal;
    
}
.play-icon a:hover{
     color: #FE9723;
}
.card-text{
    margin: 20px 0;
    padding: 15px;
}
.card-text h3 {
    font-size: 17px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 600!important;
}

.icon-left .fa,.latest-detls .fa{
    color: #FE9723;
}
.icon-right{
    float: right;
}
.icon-right a {
    color: #413f3f;
    margin-right: 8px;
    font-size: 17px;
}
.icon-right a:hover{
    color: #FE9723;
}

.view-btn {
    margin: a auto;
    background-color: #FE9723;
    padding: 7px 10px;
    width: 100px;
    margin: 0 auto;
    margin-top: 45px;
    border-radius: 3px;
   
}
.view-btn  a{
    color: #fff;
    text-decoration: none;
}

/*End Audio Section*/

/*Lates News Section*/
.card-detles{
    overflow: hidden;
}
.cardnewsimg-section img{
    transition: 0.4s;
   
}
.card-detles:hover .cardnewsimg-section img{
    transform: scale(1.2);
}
.latest-detls{}
.latest-detls h3{}
.latest-detls .fa{}
.latest-detls p{}
/*End Lates News Section*/


/* Start Nikha page design */

.nikha-banner{
  background-image: url(../images/others-pase/nikah-img1.png);
  background-size: 100% 100%;
  height: 70vh;
}

/* nikah-dtls-one */

.nikah-dtls-one{
  margin: 30px 0;
}
.mb-3{margin-bottom: 30px;}
.mb-3 h4{
  font-style: italic;
  margin-bottom: 10px;
  font-family: "Philosopher", sans-serif !important;
  color: #000;
}
.dtls-one-left p{
  font-family: open-sans;
  color: #555;
  font-size: 18px;
}

.Procedure-title{}
.Procedure-title h2{
  font-size: 40px;
  font-family: "Philosopher", sans-serif !important;
  color: #000;
}
.nikah-list-left{
  padding-left: 30px;
}
.nikah-list-left li{
  font-family: open-sans;
  color: #666;
  font-size: 20px;
  line-height: 30px;
}
.nikah-second-dtls{
  font-family: open-sans;
  color: #666;
  font-size: 20px;
  line-height: 30px;
}

/* End Nikha page design */

/* Start daily-jumuah-prayar */
.daily-jumuah{
  background-image: url(../images/others-pase/daily-jumuah-prayar-img1.png);
  background-size: 100% 100%;
  height: 70vh;
  background-repeat: no-repeat;
}

.daily-dtls{
  margin: 80px 0;
  padding: 20px 0;
}
.daily-jumuah-imgdtls{}
.daily-jumuah-imgdtls h2{
  font-size: 40px;
  font-family: "Philosopher", sans-serif !important;
  color: #000;
}
.daily-jumuah-imgdtls p{
  margin: 20px 0 0;
  direction: ltr;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  padding-right: 15px;
  font-family: open-sans;
}

.listen-btn{
  position: relative;
  margin: 50px 0;
}
.btn-btn-listen {
  padding: 10px 40px;
  background-color: #0F0F41;
  color: #fff !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.4s ease;
  border-radius: 6px;
  font-family: open-sans;
}
.btn-btn-listen:hover{
  background-color: #5E2C01;
  color: #fff;
}

/* end daily-jumuah-prayar */

/* quran-tafsir */
.quran-tafsir-bg{
  background-image: url(../images/others-pase/quran-tafsir-img1.png);
  background-size: 100% 100%;
  height: 70vh;
  background-repeat: no-repeat;
}
.mt-30{
  margin-top: 50px;
}
/* Ramadan */
.ramadan-bg{
  background-image: url(../images/others-pase/ramadan-img1.png);
  background-size: 100% 100%;
  height: 70vh;
  background-repeat: no-repeat;
}

/* aims-and-objectives */
.amis-and-objecti-bg{
    background-image: url(../images/others-pase/aimsandobjectivesbanner-img1.png);
    background-size: 100% 100%;
    height: 70vh;
    background-repeat: no-repeat;
  }

  /* nazirah-program */
  .nazirah-program{
    background-image: url(../images/others-pase/nazirah-program-img1.png);
    background-size: 100% 100%;
    height: 70vh;
    background-repeat: no-repeat;
  }

  /* alim-program */
  .alim-program{
    background-image: url(../images/others-pase/alim-program-img1.png);
    background-size: 100% 100%;
    height: 70vh;
    background-repeat: no-repeat;
  }

    /*after-school-maktab*/
    .after-school-maktab{
        background-image: url(../images/others-pase/after-school-maktab-img1.png);
        background-size: 100% 100%;
        height: 70vh;
        background-repeat: no-repeat;
      }
      /* weekend-maktab */
      .weekend-maktab{
        background-image: url(../images/others-pase/weekend-maktab-img1.png);
        background-size: 100% 100%;
        height: 70vh;
        background-repeat: no-repeat;
      }



      /* event-banner-section */
      .event-banner-section{
        background-image:linear-gradient(rgba(18, 41, 63, 0.76),rgba(18, 41, 63, 0.76)), url(../images/others-pase/events-bg.jpg);
        background-size: 100% 100%;
        height: 90vh;
        background-repeat: no-repeat;
        background-position:center center;
        background-attachment: fixed;
        position: relative;
      }

      .text-box{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 100%;
      }
      .banner-text h1{
        color: #fff;
        font-family: "Raleway", sans-serif;
        font-size: 50px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
      }

      /* Start EVENT SPEAKERS section */
      .enent-speaker-section{margin: 40px 0;background: #fff;}
      .title-box::before{
        position: absolute;
        content: '';
        height: 5px;
        width: 60px;
        background: #F8234A;
      display: block;
      bottom: 0;
      left: calc(50% - 25px);
      }
      .title-box h3{}
      .title-box p{
         
      }

      .speaker-box{
          text-align: center;
          overflow: hidden;
          margin-bottom: 30px;
          position: relative;
    }
      .speaker-box > .img-fluid{
          max-height: 308px;
          min-height: 308px;
          object-fit: cover;
          width: 100%;
      }
      .speaker-box > .img-dtls{
          background: rgb(0 0 0 / 60%);
          position: absolute;
          left: 0;
          bottom: -30px;
          right: 0;
          padding-top:10px;
          transition: all 0.4s ease;
      }
      .speaker-box:hover .img-dtls{
        bottom: 0px;
      }
      .speaker-box > .img-dtls a{text-decoration: none;}
      .speaker-box > .img-dtls h2 {
        color: #fff;
        font-size: 22px;
        transition: all 0.6s ease;
    }
    .speaker-box > .img-dtls h2:hover{color: #F8234A;}
      
      .speaker-box > .img-dtls > .speaker-social-icon .fa{
          color: #fff;
          transition: all 0.6s ease;
      }
      .speaker-box > .img-dtls > .speaker-social-icon .fa:hover{
          color: #F8234A;
      }
      /* End EVENT SPEAKERS section */
      /* Start EVENT SCHEDULE section */
      .event-schedule-section{background: #F6F7FD;margin: 40px 0;padding: 30px 0;}


nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:transparent;
      border-radius:0;
  
  }
  nav > div a.nav-item.nav-link, nav > div a.nav-item.nav-link.active {
    border: none;
    padding: 17px 30px;
    color: #fff;
    background: #0F1C4E;
    border-radius: 20px;
    margin: 0 6px;
}
  
nav > div a.nav-item.nav-link.active:after {
    content: "";
    position: relative;
    bottom: -54px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c;
}

  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #F8234A;
      color:#fff;
      border-radius:20px;
      transition:background 0.20s linear;
      padding: 17px 30px;
  }
  .upcomming-box{
      margin-bottom: 10px;
      border-bottom: 2px solid rgb(85, 83, 83);
      background: #fff;
      margin: 15px 15px;
  }

  .tab-img img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
  }


      /* ENd EVENT SCHEDULE section */


      /* Start generous_donation.html */


      /***************** *********************
         slider area styles
****************** ********************/

.showcase .carousel-item {
    height: 70vh;
  }
  
  .showcase .carousel-generousimg-1 {
    background: url(../images/slideshow/generousdonation1.png);
    background-size: 100% 100%;
    background-position: center center;
  }
  
  .showcase .carousel-generousimg-2 {
    background: url(../images/slideshow/generousdonation2.png);
    background-size: cover;
    background-position: center center;
  }
  
  .showcase .carousel-generousimg-3 {
    background: url(../images/slideshow/generousdonation3.png);
    background-size: cover;
    background-position: center center;
  }
  
  .showcase .carousel-indicators li {
    height: 4px;
    width: 30px;
    border-radius: 5px;
    color: #E30613;
    background: rgba(182, 15, 15, 0.568);
    cursor: pointer;
  }
  
  .showcase .carousel-indicators .active {
    background: #E30613;
  }
  
  .showcase .slider-control {
    font-size: 50px;
  }
  
  
  
  .showcase .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
  
  }


  .carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
   }
   
   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
   }
   
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
    opacity: 0;
   }
   
   .carousel-fade  .carousel-item-next,
   .carousel-fade .carousel-item-prev,
   .carousel-fade .carousel-item.active,
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
   }
  
  /* End slider area  */

.slider2-box{
    top: 40%;
    left: 30%;
    position: absolute;
    transform: translate(-50,-50%);
}
.slider-text h1{}
.slider-text p{}


.btn-btn-donate {
    background: #000338;
    padding: 10px 33px;
    color: #fff;
    font-size: 40px;
    border-radius: 7px;
    transition: all 0.4s ease;
    
}
.btn-btn-donate:hover{background: #5D2B00;text-decoration: none;color: #fff;}



.btn-info{
  font-size: 25px;
  
}
.donate-rightbox h3{
  color: #292929;
  font-size: 40px;
}
.donate-rightbox p{margin: 0;}
.donate-rightbox h1{
  text-align: center;
}
.rightimg{ overflow: hidden;}
.rightimg img{
  transition: all 0.4s ease-in-out;
 
}
.rightimg img:hover{
  transform: scale(1.2);
}

/* Start Rahima Aziz Foundation section */
.rahima-foundationseciton{
  background: linear-gradient(to bottom, #D8FEFC,#F4F3F7);
  padding: 40px 0;
}
.rahima-title h2{
  color: #101042;
  text-align: center;
}
.foundatoin-rotedbox{
  background: #fff;
  min-height: 370px;
  padding: 15px;
  margin-bottom: 20px;
  transform: rotate(-10deg);
  transition: all 0.4s ease-in-out;
}
.foundatoin-rotedbox:hover{transform: rotate(0deg);}

   /*End generous_donation.html */

   /* Start Register page */
   .register-bg{
     background:linear-gradient(to bottom, #0f0f418c,#0f0f41),url(../images/slideshow/registerimg.jpg) ;
     background-position: center center;
     
   }
   .register-box{
     background: #76908E;
     padding: 10px 20px;
     margin: 20px 0;
   }
   .reg-title{}
   .reg-title h1 {
    font-size: 30px;
    border-bottom: 1px solid #fff;
    text-align: center;
}
label{color: #fff;}
.regsub-btn {
  background: #0F0F41;
  padding: 8px 40px;
  border: none;
  border-radius: 7px;
  color: #fff;
  font-size: 23px;
  outline: none;
  cursor: pointer;
}
   /* End Register page */


/*Start Footer Section*/
.footer-section{
   padding: 50px 0;
    margin-top: 50px 0;
    background: #032926;
}
.ft-bg-image{
     background: url(../images/bg/footer-btm-bannner.png);
    background: linear-gradient( rgba(3, 33, 30, 0.25));
    background-position:center;
    background-repeat: no-repeat;
 
}
.ft-bg-image{
    
}

.ft-para{}
.ft-para h5{
    line-height: 20px;
    color: #fff;
}
.ft-logo {
    margin-bottom: 55px;
}

.ft-title{}
.ft-title h2 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 15px;
}
.ft-para ul{margin: 0; padding: 0;}
.child-para{
     margin-left: 10px;
} 
.ft-para ul li, .child-para li {
    list-style: none;
    border-bottom: 1px dashed;
    border-color: #fff;
    width: 148px;
    line-height: 30px;
    color: #BFC7C6;
    margin-bottom: 8px;
}
.ft-para ul li:last-child{
    border-bottom:none;
}
.ft-para ul li a, .child-para li a{
    color: #BFC7C6;
    text-decoration: none;
    transition: 0.3s;
    display:block;
}.ft-para ul li a:hover{
    color: #FF8824;
   
} 

/*End Footer Section*/


/*-----------------------------------------------*/


.text-section h4 {
  font-size: 28px;
  line-height: 32px; }
.text-section h5 {
  font-size: 18px;
  letter-spacing: 1px; }

.text-section.white {
  color: #fff; }
  .text-section.white h2, .text-section.white h3, .text-section.white h4, .text-section.white h5, .text-section.white a {
    color: #fff; }
  .text-section.white a:hover {
    color: #fe4157; }
.text-section h2 span, .text-section h3 span, .text-section h4 span, .text-section h5 span, .text-section p span, .text-section a span {
  color: #FF9822; }

.text-section-2 h4 {
  margin-bottom: 20px; }
.text-section-2 ul li i {
  margin-right: 10px; }



/*Start Footer Section*/
.copyright-section {
  background: #003131;
  color: #dddddd;
 
  padding: 20px 0px 15px 0; }
  .copyright-section .copyright-text p {
    color: #9b9b9b; }
.copyright-text a {
    color: #9b9b9b;
    font-weight: 600; 
}.copyright-text a:hover {
    color: #fe4157;
    font-weight: 600; 
}

.error-page {
  text-align: center; }
  .error-page h1 {
    font-size: 120px;
    margin-bottom: 40px;
    color: #fff; }
  .error-page h3 {
    font-size: 60px;
    color: #fff; }
  .error-page p {
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff; }

.back-to-top.reveal {
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 30;
  filter: alpha(opacity=3000); }
  .back-to-top.reveal:focus, .back-to-top.reveal:active, .back-to-top.reveal:hover {
    opacity: 100;
    filter: alpha(opacity=10000); }

.back-to-top {
  position: fixed;
  z-index: 1000;
  right: 25px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 350ms;
  -o-transition: opacity 350ms;
  transition: opacity 350ms; }
  .back-to-top i {
    position: absolute;
    top: 50%;
    left: 35%;
    margin-top: -15px;
    margin-left: -3px;
    color: #ffffff; }
/*End Start Footer Section*/

/*About page section*/
.heading-txt{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 180px;
    text-align: center;
    
}
.abouteus-txt{
    border-bottom: 2px solid #eee;
}
.abouteus-txt h1 {
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
}

.welcome-box h1 {
    text-align: center;
    font-size: 25px;
    color: #000338;
    font-weight: 600;
    margin-bottom: 30px;
}
.welcome-box p {
    font-size: 16px;
    margin-bottom: 30px;
}

.faq-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000338;
}

.faq-header h5 {
  font-size: 15px;
  font-family: 'Fira sans', sans-serif;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.faq-header>span>.fa {
  color: #fff;
  font-size: 26px;

}
/* Start About page desing */
.staff-title-box::before{
    content: '';
    position: absolute;
    height:138;
    width: 4px;
    background-color: #FF9822;
}
.staff-title-box h3 {
  font-size: 20px;
  color: #000338;
  padding: 0px 20px;
}
.staff-title-box p {
  font-size: 14px;
  color: #000;
  padding: 0px 20px;
  margin: 0;
}

.staff-details p{
    font-size: 18px;
    color: #000;
    text-align: justify;
}

.prayer-box{}
/* End About page desing */


