

@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
  }
:root {
    --shadow: 0px 10px 13px -10px #ddd;
    --shadow-hover: 0px 10px 20px 0px #ddd;
    --border: 1px solid #f3f3f3;
    --animate: translate(0, -2%);
    --gradient-bg: linear-gradient(to right, rgba(255, 134, 23, 0.90), rgba(255, 135, 23, 0.90), rgba(255, 194, 37, 0.90));
    --gradient-single: rgba(255, 134, 23, 0.90);
    --primary-color: #6B6B6B;
    --radius: 13px;
    --ef: 'Philosopher', sans-serif;
    --lato: "Lato", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.container2{
    max-width: 1330px;
}

@media (min-width:576px) {
  .container {
      max-width: 540px
  }
}

@media (min-width:768px) {
  .container {
      max-width: 720px
  }
}

@media (min-width:992px) {
  .container {
      max-width: 960px
  }
}

@media (min-width:1200px) {
  .container {
      max-width: 1200px
  }
}
img {
  max-width: 100%;
  height: auto; }

/*Topbar Section*/
.topbar {
    background-color: #0F0F41;
    color: #ffffff;
    padding-top: 21px;
    padding-bottom: 14px;
}
.topbar a {
    color: #fff; }
.topbar a:hover {
      color: #FF9822; }

.topbar .contact-info li {
      display: inline-block;
      list-style: none;
      margin-right: 10px; }
.topbar .contact-info i {
      color: #FF9822;}
  .topbar.black {
    background-color: #333; }

ul.social-icons {
    float: right;
  list-style: none;
  padding: 0;
  margin: -5px;
  display: inline-block; }
  ul.social-icons li {
    display: inline-block;
    margin: 5px 12px; }
/*header area styles*/

.navbar {
    padding: 0;
}
.header-logo {
    width: 75px;
    padding: 5px;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #000338;
    transition: .5s;
}
.menu-area > ul {
    margin: 11px 0;
    padding: 0;
}

.menu-area > ul > li {
    list-style: none;
    display: inline-block;
}
.menu-area ul li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.dropdown-menu1 ul li a .fa {
    margin-right: 10px;
}

.menu-area > ul > li > a {
  text-decoration: none;
  color: #fff;
  padding: 0px 15px;
  display: block;
  transition: .5s;
  text-transform: capitalize;
  font-size: 16px;
}

.menu-area ul li a:hover {
    color: #FD9722;
}

.logo-image {
    margin-top: 15px;
}

.menu-active {
    color: #FD9722 !important;
}

.dropdown-menu1 {
    position: absolute;
    background: #fff;
    width: 250px;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.4s;
    box-shadow: var(--shadow);
    border-top: var(--border);
    top:75px;
}

.dm-software {
    width: 630px;
}

.dropdown-menu1 ul {
    margin: 0;
    padding: 0;
}

.dropdown-menu1 ul li {
    list-style: none;
}

.dropdown-menu1 ul li a {
    text-decoration: none;
    color: #817e7b;
    padding: 7px 10px;
    display: block;
    padding: 10px;
    transition: .4s;
    text-transform: capitalize;
}

.dropdown-menu1 ul li a:hover {
    background: var(--bd);
    color: #FD9722;
}

.dd-btn1:hover .dropdown-menu1 {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.dropdown-menu2 {
    position: absolute;
    left: 100%;
    top: 0;
    background: #fff;
    width: 220px;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.4s;
}


.dd-btn2 {
    position: relative;
}

.dd-btn2:hover .dropdown-menu2 {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}


/*toggler css*/

.menu-icon {
    display: none;
}

.menu-icon {
    float: right;
}

.menu-icon {
    color: var(--tn);
    font-size: 30px;
    cursor: pointer;
}

/*on scrolled css*/


/*mobile menu styles*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100%;
    background: #fdfdfd;
    transition: .3s;
    z-index: 9999;
    border-right: 1px solid #ddd;
    overflow: scroll;
}

.mobile-menu-active {
    left: 0;
}

.mm-logo {
    border-bottom: 1px solid #ddd;
}

.mm-logo .logo {
    width: 130px;
    padding: 10px 15px;
}

.menu-link a {
    display: block;
    padding: 10px 15px;
    color: var(--tm);
    border-bottom: 1px solid #ddd;
    transition: .3s;
    font-family: var(--lato);
    text-decoration: none;
}

.mobile-menu a .fa {
    color: var(--tn);
}

.menu-link a .fa-plus {
    float: right;
    margin-top: 5px;


}

.menu-link a .fa-minus {
    float: right;
    margin-top: 5px;

}

.menu-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-body ul li {
    border-bottom: 1px solid #ddd;
}

.menu-body .card-body {
    padding: 0;
    background: #fafafa;
}

.menu-body ul li a {
    padding: 10px 10px;
    display: block;
    color: var(--tm);
    text-decoration: none;
    font-family: var(--lato);
}

.mm-logo {
    position: relative;
}

.mm-cross-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.mm-cross-icon .fa {
    font-size: 20px;
    color: var(--ttm);
}

.mm-ci {
    cursor: pointer;
}
/*-----------------Common style--------------*/
.heading-title> h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--ef);
    text-transform: capitalize;
    color: #000338;
    margin-bottom: 3px;
}
.heading-border {
    height: 3px;
    width: 100px;
    background-color: #ff8339;
    margin: 0 auto;
}
.common-shadow {
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    border: var(--border);
    transition: .4s;
    overflow: hidden;
    background: #fff;
}
.common-shadow:hover {
    transform: var(--animate);
}
.btn-primary {
    color: #fff;
    background-color: #000338;
    border-color: #000338;
}
/*-----------------end Common style--------------*/

/***************** *********************
         slider area styles
****************** ********************/
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 70vh;
}

/* End slider area  */

.text-section h2 {
  font-size: 45px;
}
.text-section h3 {
  font-size: 27px;
  line-height: 50px;
  position: relative;
  margin-top: -20px;
font-family: 'Philosopher', sans-serif;
}

.text-section p {
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    color: #737373;
    margin-bottom: 25px;
    font-family: open-sans;
}
.btn-about {
    display: block;
  background: #000338;
  padding: 12px 25px;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  box-shadow: 3px 7px 30px 0px #d2d2d2;
}
.btn-about:hover{
  background: #016AD9;
  text-decoration: none;
  color: #fff;
}


/*Start rahmania-aziz-seciton*/
.rahmania-aziz-seciton{
    margin: 30px 0;
    padding: 30px 0;
}

/*Start exprience-seciton*/

.exprience-content {
    background: linear-gradient(rgb(247 247 247 / 47%),rgb(247 247 247 / 47%)),url(../images/patterns/pattern-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px 24px;
    transition: 0.4s;
    min-width: 285px;
    min-height: 505px;
}
.exprience-content:hover{
    background: linear-gradient(rgba(21, 122, 21, 0.698),rgba(21, 122, 21, 0.698)),url(../images/patterns/pattern-bg.jpg);


}
.exprience-content:hover .fa{
    background:#fff;
}.exprience-content:hover h3{
    color: #fff;
}.exprience-content:hover p{
    color: #fff;
}.exprience-content:hover a{
    color: #fff;
}

.exprience-content .fa {
    color: #2EA249;
    font-size:60px;
    /*background: #FEB82C;*/
    height: 100px;
    width: 100px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: 0.4s;
}

.exprience-content h3 {
    color: #000;
    font-size: 25px;
    margin-bottom: 18px;
    line-height: 35px;
    transition: 0.4s;
    text-transform: capitalize;
    font-weight: 600;

}

.exprience-content p {
    color: #000;
    line-height: 25px;
    font-size: 17px;
    transition: 0.4s;
}

.exprience-content a{
    display: inline-block;
    color: #000;
    line-height: 32px;
    font-size: 20px;
    transition: 0.4s;
    text-decoration: underline;

}

/* statr Our notice-section*/
.notice-title {
    background: #000338;
    padding: 4px 0px;
}
.notice-title > h3 {
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.notice-board {
    background-color: #f8f9fa;
    padding: 20px;
}

.notice {
    border: 2px solid #ff8339;
    padding: 10px;
    margin-bottom: 12px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.notice h3 {
    font-family: var(--bf);
    font-family: var(--ef);
    font-size: 18px;
    margin-bottom: 10px;
}

.notice p {
    font-family: var(--bf);
    font-family: var(--ef);
    font-size: 14px;
    line-height: 20px;
    margin: 10px 4px;
}

.btn-notice {
    font-family: var(--bf);
    background: #000338;
    padding: 4px 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 700;
}

.btn-notice:hover {
    background: #016AD9;
    color: #fff;
    text-decoration: none;
}
/* statr Our Program sectoin*/

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
    font-size: 20px;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/* end Our Program sectoin*/
/* start Our Institute sectoin*/
.owl-carousel .owl-item > .item > .campus-box > img {
    display: block;
    width: 100%;
    height: 50vh;
    border: 2px solid #000338;
    border-radius: 10px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #000338;
}
.owl-theme .owl-dots .owl-dot span {
    background: #ea7300;
}
/* end Our Institute sectoin*/

/* start Our achivement-box sectoin*/
.achivement-box > a{
    text-decoration: none;
    color: #000;
}
.achivement-box >img{width: 100%;}
.achivement-detls {
    padding: 8px 20px;
}
.achivement-detls > h4 {
    font-size: 18px;
    font-family: var(--roboto);
}
.achivement-detls > span{}
.achivement-detls > p {
    font-size: 15px;
    text-align: justify;
    font-family: var(--roboto);
    font-weight: 400;
}
/* end Our achivement-box sectoin*/

/*Start Footer Section*/
.footer-section{
   padding: 50px 0;
    margin-top: 50px 0;
    background: #032926;
}
.ft-para h5 {
    color: #BFC7C6;
    font-size: 16px;
    font-weight: normal;
}
.ft-logo {
    margin-bottom: 20px;
}
.ft-title h2 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 15px;
}
.ft-para ul{margin: 0; padding: 0;}
.ft-para ul li, .child-para li {
    list-style: none;
    line-height: 30px;
    color: #BFC7C6;
}
.ft-para ul li:last-child{
    border-bottom:none;
}
.ft-para ul li a, .child-para li a{
    color: #BFC7C6;
    text-decoration: none;
    transition: 0.3s;
    display:block;
}.ft-para ul li a:hover{
    color: #FF8824;

}

/*End Footer Section*/
/*-----------------------------------------------*/


/*Start Footer Section*/
.copyright-section {
  background: #003131;
  color: #dddddd;

  padding: 20px 0px 15px 0; }
  .copyright-section .copyright-text p {
    color: #9b9b9b; }
.copyright-text a {
    color: #9b9b9b;
    font-weight: 600;
}.copyright-text a:hover {
    color: #fe4157;
    font-weight: 600;
}
/*End Start Footer Section*/
/*breadcrumb-section*/
.breadcrumb-section{
    background: url('../images/bg/broadcamp.png') no-repeat;
    background-position: center center;
    background-size:cover;
    padding: 75px 0px;
}
.page-breadcrumb > span{
    color: #d78a11;
    font-size: 16px;
}
.page-breadcrumb > span > a {
    text-decoration: none;
    color: #d78a11;
    font-size: 16px;
}
.page-title > h2 {
    color: #fff;
    font-size: 55px;
    margin-bottom: 0;
    margin-top: 15px;
    font-family: "Croissant One", serif;
}

/*About page section*/
.welcome-box h1 {
    text-align: center;
    font-size: 25px;
    color: #000338;
    font-weight: 600;
}
.welcome-box p {
    font-size: 16px;
    margin-bottom: 30px;
}
.about-image > img{
    width: 100%;
}
.about-content > p {
    font-size: 17px;
    font-family: var(--lato);
    line-height: 28px;
}
/* Start About page desing */
.our-team {
    padding: 0 0 40px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #00325a;
  }
  .our-team:hover {
    border-bottom: 5px solid #2f2f2f;
  }

  .our-team .pic {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  .our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #00325a;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  .our-team:hover .pic:before {
    height: 100%;
    background: #2f2f2f;
  }
  .our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
  }
  .our-team:hover .pic:after {
    background: #ff8339;
  }
  .our-team .pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
    z-index: 2;
  }
  .our-team:hover .pic img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  .our-team .team-content {
    margin-bottom: 30px;
  }
  .our-team .title {
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  .our-team .post {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  .our-team .social {
    width: 100%;
    padding-top: 10px;
    margin: 0;
    background: #2f2f2f;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  .our-team:hover .social {
    bottom: 0;
  }
  .our-team .social li {
    display: inline-block;
  }
  .our-team .social li a {
    display: block;
    padding-top: 6px;
    font-size: 15px;
    color: #fff;
    transition: all 0.3s ease 0s;
  }
  .our-team .social li a:hover {
    color: #2f2f2f;
    background: #f7f5ec;
  }
  @media only screen and (max-width: 990px) {
    .our-team {
      margin-bottom: 10px;
    }
  }
/* End About page desing */
/* Details page css */
.details-img > img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 3px solid #ff9822;
}
.details-content{}
.details-content > h2 {
    text-align: left;
    font-size: 22px;
    margin-left: 10px;
    color: #0e0d0d;
    margin-bottom: 30px;
    font-family: var(--roboto);
}
.details-content > h2::before {
    content: '';
    position: absolute;
    height: 36px;
    width: 5px;
    background: #ff9822;
    margin-left: -10px;
    margin-top: -4px;
    border-radius: 5px;
}
.details-content > p{
    color: #ddd;
}



