@media all and (max-width: 1200px) {}

@media all and (max-width: 1080px) {

    .menu-icon {
        display: block;
        color: #fff;
    }

    .menu-area {
        display: none;
    }
    
    /*Satrt Exprience Section*/
    .exprience-content{
        margin-bottom: 20px;
    }
    /*End Exprience Section*/

}
@media (max-width: 1024px) {
  .tp-leftarrow, .tp-rightarrow {
    width: 40px !important;
    height: 40px !important; }

  .tp-leftarrow {
    left: -15px !important; }

  .tp-rightarrow {
    left: 101% !important; }

  .tparrows:before {
    line-height: 25px !important; } 

    
}

@media (max-width: 992px) {
  
    /*LOgo Section*/
    .button-section{
        margin-bottom: 30px;
    }
    
    /*text and image section*/
    .template-image{
        margin-bottom: 30px;
    }
    .button-section a {
      margin-top: 15px;
      
    }
    .text-section .btn-about {
     
      padding: 12px 8px;
      
    }
    
      /*Satrt Exprience Section*/
    .exprience-content{
        margin-bottom: 20px;
    }
    /*End Exprience Section*/
    
    /*feature section*/
    .features-text-icon{
        margin-bottom: 30px;
    }
    
    
    /*islamic para section*/
    .col-sec{
    width:50%;
    margin: 0 auto;
    padding: 0 15px;
    margin:20px 0;
   
}
    
/*Audio Section*/
.card-detles{
       margin-bottom: 30px; 
    }
    
    
}
@media (max-width: 768px) {

/*Top bar Section*/
  .topbar .social-icons {
    display: none; }
  .topbar .contact-info {
    text-align: center; }



  .text-section {
    text-align: center; }
    .text-section .underline:after {
      left: 41% !important; }


  .header-address {
    display: none; }

  .mb-text-center {
    text-align: center; }


    
    /*End Top bar Section*/
    
    /*LOgo Section*/
    .button-section{
        margin-bottom: 30px;
    }
    
    /*Slider Sectoin*/
    .nav-slider img{
        width:500px;
    }
    .button-section a {
      margin-top: 12px;
      
    }
    .text-section .btn-about {
    
      padding: 12px 10px;
     
    }
    
    /*Satrt Exprience Section*/
    .exprience-content{
        margin-bottom: 20px;
    }
    /*End Exprience Section*/
    
     /*feature section*/
    .features-text-icon{
        margin-bottom: 30px;
    }
    
    /*Why choose section*/
    .img-text-section{
        margin-bottom: 30px;
    }


    .template-image{
  
margin-bottom: 20px;
}
.col-sec{
    width:100%;
    margin: 0 auto;
    padding: 0 15px;
    margin:20px 0;
   
}
    
    /*Audio Section*/
.card-detles{
       margin-bottom: 30px; 
    }
/*Footer Section*/
    .ft-para{
        margin-bottom: 30px;
    }
    /* Start About page desing */
.staff-title-box::before{
  content: '';
  position: absolute;
  height:80;
  width: 4px;
  background-color: #FF9822;
}
}
@media (max-width: 480px) {
  .button-section a {
    margin-top: 12px;
    
  }
  .text-section .btn-about {
  
    padding: 12px 5px;
    
  }
  }
@media (max-width: 320px) {
  
  }
